 <div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                <h1 class="page-title" routerLinkActive="active" routerLink="/home">Best Travel Destination</h1>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
          <div>
            <div class="container homeScreen">
              <div class="text-center">
                <h3 class="title">Select your {{curentOption.name}}</h3>
              </div>
                <div class="row">
                    <div class="card-deck w-90">
                        <div *ngFor="let type of travelOptions[curentOption.name]" class="card cardStyle" (click)="getOptions(type,curentOption.name,curentOption.nextOption)">
                          <img class="card-img-top" src="/../../assets/images/{{type}}.jpg" alt="Card image">
                          <div class="card-img-overlay">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>